<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
    	<!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
       	<property name="connection.url">jdbc:mysql://localhost:3306/escuela</property>
        <property name="connection.username">root</property>
        <property name="connection.password">huron</property>
		
        <!-- Dialecto SQL -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Mostrar en consola operaciones SQL -->
        <property name="show_sql">true</property>
         
        <!-- Usar mapping en base a anotaciones-->
        <mapping class="com.son.domain.Carrera" />
        <mapping class="com.son.domain.Alumno" />
        <mapping class="com.son.domain.Asignatura" />
        <mapping class="com.son.domain.Profesor" />
        <mapping class="com.son.domain.Grupo" />
        
    </session-factory>
</hibernate-configuration>